extends layouts/starter


block content
	.container
		h1= title
		p Welcome to #{title}
		+alert-info("This is a sample info alert.")
		+table([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
		+table-striped([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
		+table-bordered([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
		+table-hover([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
		+table-condensed([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
		+table([["#","First Name","Last Name","Username"],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]],"table-striped table-bordered")
		+table([[],["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]],"table-striped table-bordered")
